<h1>Student</h1>

<%= @student.inspect %>
<br>
<br>
<br>
<%= @student.type %>&nbsp;LOGGED IN -----<br>
<%= @student.email %>&nbsp;LOGGED IN -----
<%= link_to destroy_member_session_path, :method=>'delete' do %><i class="icon-warning-sign"></i> Logout<% end %>

