<h1>Student, <%=  "#{@student.first_name} #{@student.last_name}"%></h1>

<br>
<%= @student.email %>&nbsp;LOGGED IN -----
<br>
<br>

<br>
<% if @student.institution.nil?%>
    You do not belong to any institute. Please ask your institute to add you into their account.
<% else %>
    You belong to Institute - <%= @student.institution.institution_name %>
<% end%>
<br>
<br>

<%= link_to destroy_member_session_path, :method=>'delete' do %><i class="icon-warning-sign"></i> Logout<% end %>
